<%include ../partials/header%>

<div class="container">
        <div class="row">
             <h1 style="text-align:center;">Add Car</h1>
             <div style="width:30%; margin:25px auto;">
                 <form action="/displayCar" method="POST">
                    <div class="form-group">
                       <label> Name:</label>
                       <input class="form-control" name="name" type="text" placeholder="name" required>
                    </div>
                    <div class="form-group">
                        <label>Car type:</label> 
                        <input class="form-control" name="type" type="text" placeholder="luxury" required>
                     </div>
                    <div class="form-group">
                        <label>Price:(Rs.)</label> 
                        <input class="form-control" name="price" type="number" placeholder="100" required>
                     </div>
                    <div class="form-group">
                        <label>Car Image:</label> 
                        <input class="form-control" name="image" type="text" placeholder="car image link" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit</button>
                    </div>
                </form>
                <a href="/cardisplay">Go back</a>
            </div>
        </div>
    </div>


<%include ../partials/footer%>