<nav class="navbar navbar-default" style="margin-top:133px;">
        <div class="conatiner-fliud">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">&copy copyright Priyanka Mogha</a>
                </div>
        </div>
    </nav>
</body>
</html>