<%include partials/header%>

<div class="conatiner">
   <img src="https://images.pexels.com/photos/327236/pexels-photo-327236.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" width="100%" >
</div>

<%include partials/footer%>